<!DOCTYPE html>
<html>
    <head>
        <title>WEATHER APP</title> 
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/1.png">
        
        </script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <img class="portrait" src="/img/0.jpeg" >
            <p>this uses apis from mapbox.com and openweather.com</p>
        </div>       
        {{>footer}}
    </body>
</html>